html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
}
header {
    background-color: rgb(174, 218, 194);
}
#button {
    width: 95%;
}