.source-page {
    display: block;
}
.source-page h6 {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 20px;
}
.source-page h6 a{
    color: #fff;
}
.source-page h6 a:hover {
    color: #8c363e;
}
.container h5 {
    letter-spacing: 0.5px;
    color: aqua;
    margin-bottom: 20px;
}

.container .row .col-md-8 {
    margin: auto;
}
.container p {
    font-size: 18px;
    color: aqua;
}
#text-john {
    color: aqua;
}
