html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    background-color: rgb(142, 106, 16)
}
/* body {
    background-image: radial-gradient(rgb(204, 165, 113), rgb(255, 145, 0));
} */
header {
    height: 120px;
    width: 100%;
    display: flex;
    font-size: 24px;
    font-weight: 800;
    justify-content: space-evenly;
    align-items: center;    

}
header img {
    height: 100px;
    width: auto;
    margin-top: 10px;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    
}
.item {
    list-style: none;
    margin-right: 70px;
}
.item a {
    text-decoration: none;
    color: white;
}
.item a:hover {
    color: blue;
}