html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}
/* header */
header {
    height: 80x;
    width: 100%;
    background-color: rgb(200, 200, 200);
   

}
header img {
    margin-left: 2px;
    margin-top: 2px;
    height: 70px;
    width: auto;
}
.box {
  
    background-color: rgb(200, 200, 200);
    width: 100%;
    height: 50x;
   
}
/* menu */
table {
    margin: 5px auto 0 auto;
    padding: 8px;
    color: black;
}
.line {
    padding: 0 20px 0 20px;
    border-left: 1px solid black;
}
#line1 {
    padding: 0 20px 0 20px;
}
.khung {
    display: flex;
    flex-direction: row;
}
.main {
    margin-top: 10px;
    width: 67%;
    height: 80%;
    float: left;
    order: 2;
    

}
/* danh sách phim */
.list-phim {
    margin-top: 10px;
    margin-left: 10px;
    width: 30%;
    height: 80%;
    float: left;
    order: 1;
}
.list-phim iframe {
    width: 95%;
    height: 22%;
    /* padding: 5px; */
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: red;
}
/* trang chính */
footer {
    clear: both;
    text-align: center;
    height: 6%;
    width: 100%;
    padding-top: 15px;
    background-color: rgb(200, 200, 200);
}
.text {
    color: rgb(80, 78, 78);
}
@media screen and (max-width: 720px) {
    .khung {
        flex-direction: column;
    }
    .main {
        width: 100%;
        height: 40%;
        order: 1;
    }
    .list-phim {
        width: 100%;
        height: 30%;
        order: 2;
    }
}